.container {
    width: 1040px;
    background-color: rgb(41, 41, 41);
}

.card-text {
    font-size: 18px;
    line-height: 30px;
    padding: 0px 5px 5px 1px;
    font-weight: 700;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: scroll;*/
    word-break: break-word; 

}

.logo {

    line-height: 50px;
    color: #fff;
    font-weight: 700;
}

.card {
    margin-top: 0px;
    /* height: 295px; */
}

.panel-body{
    height: 190px;
}

.panel img {
    height: 152px;
    width: 227px;
}